

// L stands for layout.  Max width of this grid is going
// to be 1140px.  This is particularly arbitary.  But,
// I'm just going to go with it.



.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 255, 0, .5);
}




.three-col-grid .grid-item {
  @include clearfix;
  width: 33.33333%;
  float: left;
}

.grid-item {
  width: calc((100% - 20px * 2) / 3);
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
    float: right;
  }
}


// To do, for loop.

// @for $i from 1 through 12 {
//   .col-#{$i}-12 {
//     width: calc(#{$i} / 12);
//     background-color: red;
//   }
// }
