/*
From the book:
https://smacss.com/book/categorizing


Layout rules divide the page into sections.
Layouts hold one or more modules together.

*/

// Modules to import.


#main-nav {
  position: fixed;
  width: 100%;
  background: $navigation-background;
  top: 0;
  border-bottom: 3px solid $navigation-border;
}


.brand {
  float: left;
  margin: 1em 0;
  padding: 0 10px;
}

@media (min-width: 360px) and (max-width: 480px) {
  .brand {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
  }
}

.nav-items {
  float: right;
  margin: 2.2em 0;
  padding: 0 6px;
}

@media (min-width: 360px) and (max-width: 480px) {
  .nav-items {
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.nav-item {
  display: inline-block;
  padding: 3px 4px;
}

@media (min-width: 360px) and (max-width: 480px) {
  .nav-item {
    display: block;
    font-size: 20px;
    width: 100%;
  }
}


.l-container {
  max-width: 70rem;
  margin: 0 auto;
}

#hero {
  margin-top: 300px;
  text-align: center;


  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }
}

div.projects {
  margin-top: 100px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-tile {
  width: calc(33% - 5px);
  text-align: center;
  background: $navigation-border;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span.letter {
    font-size: 10rem;
    justify-content: flex-end;
  }
}


@media (min-width: 360px) and (max-width: 480px) {
  #hero {
    display: block;
    width: 100%;
    top: 200px;
  }
}

.avatar {
  border-radius: 1%;
}
