/*
From the book:
https://smacss.com/book/categorizing


Layout rules divide the page into sections.
Layouts hold one or more modules together.

*/

// Modules to import.

.l-container {
  
  margin: 0 auto;
  background: red;
}


@import 'module';
