main {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  justify-content: center;
}

.hero-image {

  img {
    height: auto;
  }
}

.description {

  width: 50%;
  padding: 0 50px 0;

  h3, h5 {
    text-align: center;
  }
  h3 {
    margin-top: 0;
  }

  justify-content: center;
}

.button-container {
  text-align: center;
}

button [class^="fa"] {
  transition: color .5s;

  &:hover {
      color: $navigation-border;

      text-shadow: 1px 1px 1px #ccc;
  }
}

aside {
  & h5 {
    margin-top: 0;
  }
}

.project-header {
  margin-top: 150px;
  text-align: center;
}

iframe {
  border: none;
}
