/*
From the book:
https://smacss.com/book/categorizing


State rules are ways to describe how our modules or layouts will look when in a particular state.
Is it hidden or expanded? Is it active or inactive?
They are about describing how a module or layout looks on screens that are smaller or bigger.
They are also about describing how a module might look in different views like the home page or the inside page.

*/


a[class^='underline'] {
  padding-bottom: .05em;
  text-decoration: none;
  padding-left: .125em;
  padding-right: .125em;
  position: relative;
}

a[class^='underline']::after {
  border-bottom: 0.125em solid #3498db;
  content: '';
  position: absolute;
  top: 100%;
  transition: .35s;
}

a[class^='underline']:hover::after {
  transition: all 0.35s;
}

a.underline_from_center::after {
  right: 50%;
  left: 50%;
}
a.underline_from_center:hover::after {
  right: 0;
  left: 0;
}
