/*
______________________________________________________

Typography:
- Viewport units refer to a percentage of the browser’s viewport
dimensions.
For example, 1 viewport width (vw) is equal to 1% of the viewport’s
width.

- Use em units that are relative to the root font size.
- Root font size is based off viewport size which adjusts
em units.

______________________________________________________
*/

// html {
//   font-size: 2vw;
// }
//
// h1 {
//   font-size: 2em;
// }
//
// @media screen and (min-width: 50em) {
//   html {
//     font-size: 2vw;
//   }
// }
//
// @media screen and (min-width: 75em) {
//   html {
//     font-size: 1.5em;
//   }
// }


li {
  list-style: none;
}

// Branding Projects Text

p:first-letter {
  font-size: 9rem;
  line-height: 1;
  padding-bottom: -5px;
  padding-left: 3px;
}

.letter {
  font-size: 80px;
}

.about p {
  // margin-left: -50px;
  font-size: 2.5em;
  line-height: 1.5;
}
