main {
  height: 95vh;
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: 20% 1fr 1fr 1fr 20%;
}

.selected {
  z-index: 10;
  position: fixed;
  width: 95vw;
  height: 95vh;
  transform: rotate(0turn) !important;
  writing-mode: horizontal-tb !important;
}

main > article {
  border: 3px solid black;
}

.ondemand {
  background: #d63031;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
}


.name {
  grid-row: 2 / span 4;
  grid-column: 1 / span 2;
  background: #81ecec;
  transform: rotate(.5turn);
  writing-mode: vertical-lr;
}

.frontend {
  background: #0984e3;
  grid-column: 3 / span 7;
  grid-row: 1 / span 3;
}

.projectmanagement {
  background: #ffeaa7;
  grid-column: 5 / span 5;
  grid-row: 4 / span 1;
}

.blogging {
  background: #00b894;
  grid-column: 10 / span 6;
  grid-row: 2 / span 3;
}

.newyears {
  background: #636e72;
  color: #dfe6e9;
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}

.sideprojects {
  grid-row: 1 / span 4;
  grid-column: 16 / span 1;
  background: #fdcb6e;
  writing-mode: vertical-rl;
}

.meaning {
  background: rebeccapurple;
  color: #dfe6e9;
  grid-column: 10 / span 6;
  grid-row: 1 / span 1;
}

.chat {
  background: #e17055;
  grid-column: 3 / span 5;
  grid-row: 5 / span 1;
}

.fun {
  background: #fd79a8;
  color: #dfe6e9;
  grid-column: 8 / span 9;
  grid-row: 5 / span 1;
}