:root {
  --white: #fffffe;
  --navy-blue: #094067;
  --baby-blue: #3da9fc;
  --light-blue: #d8eefe;
  --grey-blue: #90b4ce;
  --red: #ef4565;
  --grey: #5f6c7b;

  --bg-primary: var(--white);
  --bg-secondary: var(--light-blue);
  --bg-button: var(--baby-blue);
  --text-button: var(--white);
  --text-primary: var(--grey);
  --text-headline: var(--navy-blue);
  --border: var(--navy-blue);
}