@import 'variables.css';
@import 'typography.css';
@import 'size.css';


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

body {
	/* margin: 0; */
	font-family: 'Anonymous Pro', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: var(--ratio);
	font-size: var(--font-size);
	background: var(--bg-primary);
	color: var(--text-primary);
}


}
